@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}



/* @keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideInRight {
  animation: slideInRight 0.8s ease-out;
} */